body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "main"
    "footer"
    "nav";
}
header{
    grid-area: nav;
}

#contact{
    grid-area: footer;
}
main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 1fr);

}
.profil{
    /* grid-area: profil; */
    grid-row: 1;
    grid-column: 1/5;
}
/* .parcours{
    grid-area: diplome;
}
.competence{
    grid-area: comp;
} */