*{
    padding: 2px;
    margin: 0px;
}
body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 32% 10% ;
    grid-template-areas: 
    "main"
    "footer"
    "nav";
    background-color: rgb(216, 224, 231);
}
header{
    grid-area: nav;
}

/* #contact{
    grid-area: footer;
} */
main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 1fr);

}
.profil{
    /* grid-area: profil; */
    grid-row: 2/3;
    grid-column: 1/5;
}
.parcours{
    grid-row: 3/4;
    grid-column: 1/5;
}
.competence{
    grid-row: 4/5;
    grid-column: 1/5;
}
h1{
    grid-row: 1;
    grid-column: 2/5;
}
.nav{
    display: none;
}
.picto{
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    align-items: center;
    /* position: fixed; */


}
.picto img{
    height: 100%;
    width: 50%;
}