body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 33%);
    grid-template-areas: 
    "main"
    "footer"
    "nav";
}
header{
    grid-area: nav;
}

#contact{
    grid-area: footer;
}
main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 1fr);

}
.profil{
    /* grid-area: profil; */
    grid-row: 2/3;
    grid-column: 1/5;
}
.parcours{
    grid-row: 3/4;
    grid-column: 1/5;
}
.competence{
    grid-row: 4/5;
    grid-column: 1/5;
}
h1{
    grid-row: 1;
    grid-column: 2/5;
}